*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.producto{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.img_content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.producto_informacion{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background-color: rgb(218, 216, 216);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}
.encabezado{
}
b{
    background-color: rgb(243, 125, 15);
    border-radius: 10px;
    margin-left: 8px;
    padding: 3px 6px;
    color: white;
    font-size: 0.8rem;
}

.accionCarrito{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.accionCarrito>p{
    margin: 0;
    text-align: center;
    width: 30px;
}
button{
    border: 1px solid black;
    border:none;
    padding: 5px;
    margin-left:5px ;
}
button:nth-child(4){
    border: 1px solid black;
    border-radius: 10px;
}